In [ ]:
pip install spacy

In [ ]:
import math

In [ ]:
age = 40
euler_number = 2.718

In [ ]:
y = 0.042 * age - 1.53
z = 1/(1 + math.exp(-y))

print(f"Value of y:{y}")
print(f"")

In [1]:
import pandas as pd
import numpy as np

In [1]:

# # Create the DataFrame
# data = {'A': [21, None, 22, 4, None],
#         'B': [31, 32, 33, 34, 35],
#         'C': [np.nan, np.nan, np.nan, np.nan, np.nan],
#         'D': [46, 47, np.nan, 48, 49]}

# df = pd.DataFrame(data)
import pandas as pd

In [3]:
data_dic = {'A':[21,None,22, 4,np.nan],
            'B':[31, 32, 33, 34, 35],
            'C':[np.nan,np.nan,np.nan,np.nan,np.nan],
            'D':[46, 47, np.nan, 48, 49]}
df = pd.DataFrame(data_dic) 
df

NameError: name 'np' is not defined

In [25]:
df.isna().sum().sum()

8

In [29]:
# df.fillna(method='ffill')
df.ffill()

      A   B   C     D
0  21.0  31 NaN  46.0
1  21.0  32 NaN  47.0
2  22.0  33 NaN  47.0
3   4.0  34 NaN  48.0
4   4.0  35 NaN  49.0

In [35]:
df.bfill()
# df.fillna(method='bfill')

      A   B   C     D
0  21.0  31 NaN  46.0
1  22.0  32 NaN  47.0
2  22.0  33 NaN  48.0
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0

In [37]:
df.fillna(0)

      A   B    C     D
0  21.0  31  0.0  46.0
1   0.0  32  0.0  47.0
2  22.0  33  0.0   0.0
3   4.0  34  0.0  48.0
4   0.0  35  0.0  49.0

In [43]:
import pandas as pd

data_dic = { 'A':[21,None,22, 4,np.nan],
                      'B':[31, 32, 33, 34, 35],
                      'C':[np.nan,np.nan,np.nan,np.nan,np.nan],
                      'D':[46, 47, np.nan, 48, 49]}
df = pd.DataFrame(data_dic) 

df

df.isna().sum().sum()

df.ffill()

df.bfill()

df.fillna(0)

      A   B   C     D
0  21.0  31 NaN  46.0
1   NaN  32 NaN  47.0
2  22.0  33 NaN   NaN
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0
8
      A   B   C     D
0  21.0  31 NaN  46.0
1  21.0  32 NaN  47.0
2  22.0  33 NaN  47.0
3   4.0  34 NaN  48.0
4   4.0  35 NaN  49.0
      A   B   C     D
0  21.0  31 NaN  46.0
1  22.0  32 NaN  47.0
2  22.0  33 NaN  48.0
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0
      A   B    C     D
0  21.0  31  0.0  46.0
1   0.0  32  0.0  47.0
2  22.0  33  0.0   0.0
3   4.0  34  0.0  48.0
4   0.0  35  0.0  49.0

In [3]:
array = np.linspace(50, 60, 100)
array

array([50.        , 50.1010101 , 50.2020202 , 50.3030303 , 50.4040404 ,
       50.50505051, 50.60606061, 50.70707071, 50.80808081, 50.90909091,
       51.01010101, 51.11111111, 51.21212121, 51.31313131, 51.41414141,
       51.51515152, 51.61616162, 51.71717172, 51.81818182, 51.91919192,
       52.02020202, 52.12121212, 52.22222222, 52.32323232, 52.42424242,
       52.52525253, 52.62626263, 52.72727273, 52.82828283, 52.92929293,
       53.03030303, 53.13131313, 53.23232323, 53.33333333, 53.43434343,
       53.53535354, 53.63636364, 53.73737374, 53.83838384, 53.93939394,
       54.04040404, 54.14141414, 54.24242424, 54.34343434, 54.44444444,
       54.54545455, 54.64646465, 54.74747475, 54.84848485, 54.94949495,
       55.05050505, 55.15151515, 55.25252525, 55.35353535, 55.45454545,
       55.55555556, 55.65656566, 55.75757576, 55.85858586, 55.95959596,
       56.06060606, 56.16161616, 56.26262626, 56.36363636, 56.46464646,
       56.56565657, 56.66666667, 56.76767677, 56.86868687, 56.96969697,
       57.07070707, 57.17171717, 57.27272727, 57.37373737, 57.47474747,
       57.57575758, 57.67676768, 57.77777778, 57.87878788, 57.97979798,
       58.08080808, 58.18181818, 58.28282828, 58.38383838, 58.48484848,
       58.58585859, 58.68686869, 58.78787879, 58.88888889, 58.98989899,
       59.09090909, 59.19191919, 59.29292929, 59.39393939, 59.49494949,
       59.5959596 , 59.6969697 , 59.7979798 , 59.8989899 , 60.        ])

In [5]:
matrix = array.reshape(10, 10)
matrix

array([[50.        , 50.1010101 , 50.2020202 , 50.3030303 , 50.4040404 ,
        50.50505051, 50.60606061, 50.70707071, 50.80808081, 50.90909091],
       [51.01010101, 51.11111111, 51.21212121, 51.31313131, 51.41414141,
        51.51515152, 51.61616162, 51.71717172, 51.81818182, 51.91919192],
       [52.02020202, 52.12121212, 52.22222222, 52.32323232, 52.42424242,
        52.52525253, 52.62626263, 52.72727273, 52.82828283, 52.92929293],
       [53.03030303, 53.13131313, 53.23232323, 53.33333333, 53.43434343,
        53.53535354, 53.63636364, 53.73737374, 53.83838384, 53.93939394],
       [54.04040404, 54.14141414, 54.24242424, 54.34343434, 54.44444444,
        54.54545455, 54.64646465, 54.74747475, 54.84848485, 54.94949495],
       [55.05050505, 55.15151515, 55.25252525, 55.35353535, 55.45454545,
        55.55555556, 55.65656566, 55.75757576, 55.85858586, 55.95959596],
       [56.06060606, 56.16161616, 56.26262626, 56.36363636, 56.46464646,
        56.56565657, 56.66666667, 56.76767677, 56.86868687, 56.96969697],
       [57.07070707, 57.17171717, 57.27272727, 57.37373737, 57.47474747,
        57.57575758, 57.67676768, 57.77777778, 57.87878788, 57.97979798],
       [58.08080808, 58.18181818, 58.28282828, 58.38383838, 58.48484848,
        58.58585859, 58.68686869, 58.78787879, 58.88888889, 58.98989899],
       [59.09090909, 59.19191919, 59.29292929, 59.39393939, 59.49494949,
        59.5959596 , 59.6969697 , 59.7979798 , 59.8989899 , 60.        ]])

In [7]:
result = array % 5 == 0
result

array([ True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True])

In [9]:
df1 = pd.DataFrame({'key':['a','b','c','d','e',],
                    'A1':range(5),
                    'B1':range(5,10)})
df2 = pd.DataFrame({'key': ['a', 'b', 'c'], 
                    'A2': range(3), 
                    'B2':range(3,6)})

In [11]:
df1

  key  A1  B1
0   a   0   5
1   b   1   6
2   c   2   7
3   d   3   8
4   e   4   9

In [13]:
df2

  key  A2  B2
0   a   0   3
1   b   1   4
2   c   2   5

In [1]:
from sklearn.tree import DecisionTreeClassifier, export_text
import pandas as pd

# Define the dataset
data = {
    'Weather': ['Sunny', 'Sunny', 'Sunny', 'Sunny', 'Sunny', 
                'Rainy', 'Rainy', 'Rainy', 'Rainy', 'Rainy'],
    'Humidity': ['Normal', 'Normal', 'Normal', 'High', 'High',
                 'High', 'High', 'Low', 'Low', 'Low'],
    'Wind': ['Weak', 'Weak', 'Strong', 'Weak', 'Strong',
             'Strong', 'Weak', 'Weak', 'Strong', 'Weak'],
    'Play': ['No', 'No', 'No', 'No', 'No', 
             'Yes', 'Yes', 'Yes', 'Yes', 'Yes']
}

# # Convert to DataFrame
# df = pd.DataFrame(data)

# # Encode categorical variables
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()

# for col in ['Weather', 'Humidity', 'Wind', 'Play']:
#     df[col] = le.fit_transform(df[col])

# # Define features and target
# X = df[['Weather', 'Humidity', 'Wind']]
# y = df['Play']

# # Create and train the decision tree
# tree_clf = DecisionTreeClassifier(criterion='entropy')
# tree_clf.fit(X, y)

# # Print the decision tree
# tree_rules = export_text(tree_clf, feature_names=['Weather', 'Humidity', 'Wind'])
# print(tree_rules)

|--- Weather <= 0.50
|   |--- class: 1
|--- Weather >  0.50
|   |--- class: 0

In [3]:
data

{'Weather': ['Sunny',
  'Sunny',
  'Sunny',
  'Sunny',
  'Sunny',
  'Rainy',
  'Rainy',
  'Rainy',
  'Rainy',
  'Rainy'],
 'Humidity': ['Normal',
  'Normal',
  'Normal',
  'High',
  'High',
  'High',
  'High',
  'Low',
  'Low',
  'Low'],
 'Wind': ['Weak',
  'Weak',
  'Strong',
  'Weak',
  'Strong',
  'Strong',
  'Weak',
  'Weak',
  'Strong',
  'Weak'],
 'Play': ['No', 'No', 'No', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes']}

In [5]:
df = pd.DataFrame(data)

In [7]:
df

  Weather Humidity    Wind Play
0   Sunny   Normal    Weak   No
1   Sunny   Normal    Weak   No
2   Sunny   Normal  Strong   No
3   Sunny     High    Weak   No
4   Sunny     High  Strong   No
5   Rainy     High  Strong  Yes
6   Rainy     High    Weak  Yes
7   Rainy      Low    Weak  Yes
8   Rainy      Low  Strong  Yes
9   Rainy      Low    Weak  Yes

In [9]:
df['Humidity']= df['Humidity'].map({'High':0,'Normal':1,'Low':2})
df['Play'] = df['Play'].map({'No':0, 'Yes':1})

In [11]:
X = df[['Humidity']]
y = df['Play']